
$color-head: #b4d5b9e6;

$color-head2: #00000070;

$color-white: #fff;

$color-black: #000;

$color-black2: rgba(0, 0, 0, 0.700);

$color-primary: #DBEDDE;

$color-secondary: #97cc9f;

$color-hover: #7ac985;

