
$color-head: hsla(129, 28%, 77%, 0.900);

$color-head2: rgba(0, 0, 0, 0.438);

$color-white: #fff;

$color-black: #000;

$color-primary: #DBEDDE;

$color-secondary: #B7E4BE;

$color-hover: #7ac985;

