
#header{
    background: url('../img/fondo.jpg');
    height: 440px;
    position: relative;
}

#header::before{
    content: '';
    position: absolute;
    background-color: hsla(129, 28%, 77%, 0.900);
    width: 100%;
    height: 100%;
    z-index: 0;
}

#header .header__logo{
    width: 178px;
    height: 178px;
    border: 10px solid #fff;
}

#header2{
    background: url('../img/fondo.jpg');
    height: 100px;
    width: 100%;
    position: relative;
}



@media(min-width:960px){

    #header{
        height: 612px;
    }

    #header .header__logo{
        width: 250px;
        height: 250px;
    }

    #header .header__nav{
        background-color: transparent!important;
    }

    
}

#index__productos{
    background-color: #DBEDDE;
}

#nosotros__informacion{
    background: url('../img/DSC04393_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nosotros__informacion .nosotros__informacion__fondo{
    background-color: hsla(130, 33%, 89%, 0.89);
    width: 100%;
    height: 100%;
}


#productos__catalogo .productos__catalogo__lista li:hover{
    background-color: #a7dab2;
    color: #fff;
}

