@import '../base/colors';

#header{
    background-image: url('../img/fondo.jpg');

    .header__nav{
        background-color: $color-head2;

        @media( min-width: 960px){
            background-color: transparent;
        }
    }

    .header__container{
        height: 400px;
        background-color: $color-head;


        .header__container__title{
            color: $color-white;
        }

        .header__container__logo{
            border: 10px solid $color-white;
            width: 178px;
            height: 178px;
            background-color: $color-white;

            @media( min-width: 960px){
                width: 250px;
                height: 250px;
            }
        }

        @media( min-width: 960px){
            height: 612px;
        }
    }

}