@import '../base/colores';
@import '../base/extend';

#header{
    background: url('../img/fondo.jpg');
    height: 440px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        background-color: $color-head;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .header__nav{
        min-height: 100px;
    }

    .header__logo{

        // EXTEND REQUISITO PARA EL DESAFIO
        @extend %logoResponsive;
    }
}

#header2{
    background: url('../img/fondo.jpg');
    height: 100px;
    width: 100%;
    position: relative;
    .header2__nav{
        min-height: 100px;
        background-color: $color-head2;
    }
}

@media(min-width:960px){

    #header{
        height: 612px;
       .header__nav{
        background-color: transparent!important;
        }
    }
}