@import '../base/colors';

#index{
    .index__productos{
        background-color: $color-primary;

        .container-lg{
            .row{
                .index__productos__title{
                    color: $color-black;
                }

                text-decoration: none;
            }

            .index__productos__cards{
                .index__productos__card{
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 224px;

                        @media (min-width: 960px){
                            height: 324px;
                        }
                    }
                }
            }
            
        }
    }
}