@import '../base/colores';
@import '../base/maps';
@import '../base/mixin';

#index__productos{
    background-color: $color-1;

    .index__productos__title{

        // MIXIN INCLUIDO
        @include padding(90px, 40px);
    }

    .index__productos__cards{
        .index__productos__card{
            transition: all 1s;
            &:hover{
                transform: scale(1.05);
            }

            img{
                height: 225px; 
                object-fit: cover;
            }
        }
        

    }


    .index__productos__link{

        // UTILIZANDO MAPS
        animation-name: map-get($animation, name);
        animation-duration:  map-get($animation, duration);
        animation-iteration-count:  map-get($animation, count);
        animation-direction:  map-get($animation, direction);
    }
}   

#index__informacion{
    .index__informacion__point{
        background-color: $color-2;
    }

    .index__informacion__card{
        background-color: $color-2;
        height: 290px;
        &:hover{
            background-color: $color-3;
        }
    }
}


@keyframes tocame{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(3px);
    }
}