@import '../base/colores';

#nosotros__informacion{
    background: url('../img/DSC04393_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .nosotros__informacion__fondo{
        background-color: hsla(130, 33%, 89%, 0.89);
        width: 100%;
        height: 100%;
        .container-lg{
            padding-top: 150px;

            .card__container{
                div{
                    min-height: 227px;
                    background-color: hsla(50, 43%, 97%, 0.507);
                }
            }
        }


    }
}

#nosotros__links{
    #nosotros__pagos{
        background-color: $color-1;
    }

    #nosotros__consulta{
        background-color: $color-1;
    }
}